img {
  cursor: zoom-in;
}

.img-viewer {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.img-exit {
  z-index: 1000;
  position: fixed;
  top: 5px;
  left: 5px;
  color: #364149;
  background: rgba(255, 255, 255, 0.6);
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.img-exit:hover {
  color: #ddd;
  background: rgba(0, 0, 0, 0.5);
}

.img-toolbar {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.2s;
}

.img-toolbar-btn {
  position: absolute;
  color: #ddd;
}

.img-toolbar-btn-left {
  left: 0;
}

.img-toolbar-btn-right {
  right: 0;
}

.img-toolbar-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
}

.img-viewer-icon {
  vertical-align: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.img-viewer-icon-zoom {
  vertical-align: 0;
  position: absolute;
  top: 55.6%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.img-viewer-invisible {
  opacity: 0;
  visibility: hidden;
}

.img-viewer-draggable {
  cursor: grab;
}

.img-viewer-draggable:active {
  cursor: grabbing;
}


@media (orientation: landscape) {
  .img-exit {
    width: 3vh;
    height: 3vh;
    border-radius: 0.5vh;
  }
  
  .img-toolbar {
    width: 7vh;
    height: 3.5vh;
    bottom: 5vh;
    border-radius: 0.5vh;
  }

  .img-toolbar-btn {
    width: 3.5vh;
    height: 3.5vh;
  }

  .img-toolbar-btn-left {
    border-top-left-radius: 0.5vh;
    border-bottom-left-radius: 0.5vh;
  }

  .img-toolbar-btn-right {
    border-top-right-radius: 0.5vh;
    border-bottom-right-radius: 0.5vh;
  }
}

@media (orientation: portrait) {
  .img-exit {
    width: 3vw;
    height: 3vw;
    border-radius: 0.5vw;
  }
  
  .img-toolbar {
    width: 7vw;
    height: 3.5vw;
    bottom: 5vw;
    border-radius: 0.5vw;
  }

  .img-toolbar-btn {
    width: 3.5vw;
    height: 3.5vw;
  }

  .img-toolbar-btn-left {
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
  }

  .img-toolbar-btn-right {
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
  }
}